{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Home {% endblock %}

{% block content %}

<section>
    <div class="hero-image container-fluid">
        <div class="overlay">
            <div class="text-right callout col-10 col-md-8 col-xl-6 pt-5 pt-md-0">
                <h1>Hey there!</h1>
                <p>We see the potential in you, we are here to help you make more sales. We advertise what you sell.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}