{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- renamed from content to inner_content, sits inside block content in allauth/account/base.html -->
{% block inner_content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-brand-outline" href="{% url 'account_login' %}">Back to Sign In</a>
        <button type="submit" name="action" class="btn btn-brand">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
