{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Permission Denied{% endblock %}
{% block content %}

<!-- page contents container -->
<section class="container-fluid py-5">
    <!-- row with heading + contents-->
    <div class="row py-5 justify-content-center">
        <div class="col-12 col-md-6 pt-5">
            <h1 class="mb-4 page-title">403 Error!</h1>
            <p>You don't have access to view this page.</p>
            <p>If you think you should have access, make sure you have <a href="{% url 'account_login' %}"
                    class="text-link">signed in to your account</a>, and that you are using the correct link.</p>
            <p>You can <a href="{% url 'home' %}" class="text-link">go back to our home page</a>.</p>
        </div>
    </div>
</section>
{% endblock %}