{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Page Not Found{% endblock %}
{% block content %}

<!-- page contents container -->
<section class="container-fluid py-5">
    <!-- 1st row - heading -->
    <div class="row py-5 justify-content-center">
        <div class="col-12 col-md-6 pt-5">
            <h1 class="mb-4 page-title">404 Page not found!</h1>
            <p>The page you were looking for can't be found.</p>
            <p>The link may be incorrect, or you may not have access to that page.</p>
            <p>You can <a href="{% url 'home' %}" class="text-link">go back to our home page</a>.</p>
        </div>
    </div>
</section>
{% endblock %}